  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 fixed-top">
    <div class="navbar-expand">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Dashboard</a>
        <a class="nav-item nav-link" href="/">Jobs</a>
        <a class="nav-item nav-link" href="/">Help</a>
      </div>
    </div>
  </nav> -->
  
<mat-toolbar class="navbar navbar-expand">
    <span class="navbar-logo">
      <a href="/"><img class="elevenfiftylogo" src="../../../assets/Eleven-Fifty-Academy-Logo.png" alt="Eleven Fifty Academy"></a>
    </span>
    <span class="navbar-space">
        Center Blank Area
    </span>
    <span class="navbar-buttons">
        <mat-icon>home</mat-icon>
        <a class="" href="/">Dashboard</a>
        <a class="" href="/">Jobs</a>
        <a class="" href="/">Help</a>
    </span>
</mat-toolbar>