<mat-toolbar class="navbar">
  <span>
    <a href="/"><img class="elevenfiftylogo" src="../../../assets/Eleven-Fifty-Academy-Logo.png" alt="Eleven Fifty Academy"></a>
  </span>
  <span class="navbar-space"></span>
  <button class="nav-btn" mat-raised-button routerLink="/studentdashboard">
    Dashboard
  </button>
  <button class="nav-btn" mat-raised-button>
    Job Board
  </button>
  <button class="nav-btn" mat-raised-button>
    Account
  </button>
  <button class="nav-btn" mat-raised-button routerLink="/studentlogin">
    Login
  </button>
</mat-toolbar>
