<mat-card id="jobCard">
    <mat-card-header>
        <mat-card-title><h2 routerLink="/jobdetails">Job Name: Test Name</h2></mat-card-title>
        <p>Company Name: Test Name</p>
        <p>Salary: $$$</p>
    </mat-card-header>
    <br>
    <mat-card-content>
        <h4>Job Description:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum dolore, reprehenderit labore ratione ullam ut nostrum. Et, aliquid ut similique reiciendis dolor, obcaecati praesentium eaque explicabo dolorum dolores aliquam.</p>
    </mat-card-content> 
    <p>Job Type: Test Job Type</p>
    <p>Experience(Language): Javascript</p>
    <p> Experience(Years): 1 </p>
    <p>Date Posted:</p>
    <mat-card-actions>
        <button mat-raised-button routerLink="/jobdetails">Job Details</button>
    </mat-card-actions>
    
</mat-card>
