#jobCard {
    width: 65%;
    float: right   
}
mat-card-header {
    display: block
}

mat-card-header p {
    display: inline;
    padding: 2%;
}

p {
    display: inline;
    padding: 5%
}
#jobsPosted{
    margin:auto;
}