<mat-toolbar class="navbar">
    <span>
      © Copyright Eleven Fifty Academy 2017
    </span>
    <span class="navbar-space"></span>
    <a href="https://www.facebook.com/ElevenFiftyAcademy/">
      <i class="fa fa-facebook fa-fw animated"></i>
      <!-- <span>Facebook</span> -->
    </a>
    <a href="https://twitter.com/elevenfifty">
      <i class="fa fa-twitter fa-fw animated"></i>
      <!-- <span>Twitter</span> -->
    </a>
    <a href="https://www.youtube.com/user/ElevenFiftyAcademy">
      <i class="fa fa-youtube fa-fw animated"></i>
      <!-- <span>Youtube</span> -->
    </a>
    <a href="https://www.linkedin.com/company-beta/3806705/?pathWildcard=3806705">
      <i class="fa fa-linkedin fa-fw animated"></i>
      <!-- <span>LinkedIn</span> -->
    </a>
  </mat-toolbar>