 <form [formGroup]="myForm">
 <h1>Student Login</h1>
  <hr>
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="First_name">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="Last_Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="Password">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Confirm Password" formControlName="Password">
  </mat-form-field>

</form>