<div>
<mat-expansion-panel class="notifications-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
     Notifications
    </mat-panel-title>
  </mat-expansion-panel-header>

 <p>this is a row of stuff</p>
 <hr>
 <p>this is a row of stuff</p>
  <hr>
  <p>this is a row of stuff</p>
  <hr>
  <p>this is a row of stuff</p>
  <hr>
  <p>this is a row of stuff</p>
  <hr>
  <p>this is a row of stuff</p>
  <hr>
  <p>this is a row of stuff</p>
  <hr>
  <p>this is a row of stuff</p>
  <hr>
  <p>this is a row of stuff</p>
  <hr>
</mat-expansion-panel>
</div>