<div class="mat-elevation-z8 data-table">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
     
    <!-- Job Name Column -->
     <ng-container matColumnDef="jobName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Name</th>
        <td routerLink="/jobdetails" mat-cell *matCellDef="let row">{{row.jobName}}</td>
      </ng-container>
  
      <!-- Salary Column -->
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
        <td mat-cell *matCellDef="let row">{{row.salary}}</td>
      </ng-container>
      
      <!-- Date Posted Column -->
      <ng-container matColumnDef="datePosted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Posted</th>
        <td mat-cell *matCellDef="let row">{{row.datePosted}}</td>
      </ng-container>
  
      <!-- Job Type Column -->
      <ng-container matColumnDef="jobType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Job Type</th>
        <td mat-cell *matCellDef="let row">{{row.jobType}}</td>
      </ng-container>
  
      <!-- Students Applied Column -->
      <ng-container matColumnDef="studentsApplied">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Students Applied</th>
        <td mat-cell *matCellDef="let row">{{row.studentsApplied}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50, 100]">
    </mat-paginator>
</div>