
<mat-card class="employerCard">
<form [formGroup]="employerForm" [hidden]="success" (ngSubmit)="submitHandler()">

<h1>Employer Login</h1>
<div>
  <mat-form-field>
    <input matInput placeholder="username" formControllName="username">
    <mat-error *ngIf="username.invalid && username.touched">
      username is invalid
    </mat-error>
  </mat-form-field>
  </div>
  <div>
  <mat-form-field>
    <input matInput placeholder="password" formControllName="password">
    <mat-error *ngIf="password.invalid && password.touched">
      password is invalid
    </mat-error>
  </mat-form-field>
</div>
<div class="employerButtons">
<button mat-raised-button [disabled]="employerForm.invalid" color="primary">Submit</button>
<button mat-stroked-button  color="primary">Signup Here</button>
<button mat-raised-button color="primary" routerLink="/studentlogin">Student</button>
</div>
</form>
</mat-card>