@import '~@angular/material/theming';
@include mat-core();
$job-app-primary: mat-palette($mat-red);
$job-app-accent:  mat-palette($mat-red, A200, A100, A400);

$job-app-warn: mat-palette($mat-red);
$job-app-theme: mat-light-theme($job-app-primary, $job-app-accent, $job-app-warn);

@include angular-material-theme($job-app-theme);