@import '~@angular/material/theming';
@include mat-core();
$job-app-primary: mat-palette($mat-red);
$job-app-secondary: mat-palette($mat-blue);
// $job-app-accent: mat-pallette($mat-deep-purple, 750, 950, 999);
$job-app-theme: mat-light-theme($job-app-primary, $job-app-secondary);

@include angular-material-theme($job-app-theme);