<h1>Job Details</h1>
<a [routerlink] = "['./', 'shared', 'job-details']">Job Name:{{jobName}}</a>
<p>Company Name: {{companyName}}</p>
<p>Job Description(full description): {{jobDescription}}</p>
<p>Salary: {{salary}}</p>
<p>Experience: {{experience}}</p>
<p>Job Type{{jobType}}</p>
<p>Date Posted: {{datePosted}}</p>
<p>List of Applicants:{{listOfApplicants}}</p>
<p>
<button type="submit" value="Apply">{{apply}}</button>
</p>
<p>
<button type="submit" value="Create/Update">{{create/update}}</button>  
</p>

