<mat-card>
    <mat-card-header>
        <mat-card-title>Job Details</mat-card-title>
        <!-- future 1150 logo -->
        <!-- <img mat-card-avatar></img mat-card-avatar> -->
    </mat-card-header>
    <mat-card-content>
        <a [routerlink]="['./', 'shared', 'job-details']">Job Name:{{jobName}}</a>
        <p>
            <b>Company Name:</b> {{companyName}}</p>
        <p>
            <b>Job Description(full description):</b> {{jobDescription}}</p>
        <p>
            <b>Salary:</b> {{salary}}</p>
        <p>
            <b>Experience:</b> {{experience}}</p>
        <p>
            <b>Job Type:</b>{{jobType}}</p>
        <p>
            <b>Date Posted:</b> {{datePosted}}</p>
        <p>
            <b>List of Applicants:</b>{{listOfApplicants}}</p>
    </mat-card-content>
    <mat-card-actions>
        <p>
            <button type="submit" value="Apply" (click)="applyToJob()">{{apply}}</button>
        </p>
        <p>
            <button type="submit" value="Create">{{create}}</button>
        </p>
        <p>
            <button type="submit" value="Update">{{update}}</button>
        </p>
    </mat-card-actions>
</mat-card>